@model Model.film
@{
    ViewBag.Title = "DetailFilm";
    Layout = "~/Views/MyLayout/_LayoutUser.cshtml";
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Assets/Event/table.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/Assets/css/phim.css" />
    <link rel="stylesheet" href="~/Content/Assets/css/lightslider.css" />
    <script src="~/Content/Assets/js/JQuery3.3.1.js"></script>
    <script src="~/Content/Assets/js/lightslider.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    var category = new DatabaseIO.CategoryFilmDao().getAllCategoryFilm();
    var listcomment = new DatabaseIO.CommentDao().getCommentById(Model.id);
}

<div>
    <p class="head3" style="font-size:40px">@Model.film_name</p>
    <div class="row container" style="border: 1px solid #d42304;margin: 0 auto;padding: 10px 0">
        <div class="col-4">
            <img class="image3" src="/Content/Assets/images/@Model.image" alt="" />
        </div>
        <div class="col-6">
            <p><span style="font-weight:bold">Diễn viên : </span>@Model.actor</p><br>
            <p><span style="font-weight:bold">Đạo diễn : </span>@Model.director</p><br>
            @foreach (var item in category)
            {
                if (item.id == Model.id_cfilm)
                {
                    <p><span style="font-weight:bold">Thể loại : </span> @item.name</p><br>
                }
            }
            @{
                var idModel = "exampleModal" + Model.id;
                var idModa = "exampleModa" + Model.id;

            }
            <p><span style="font-weight:bold">Thời lượng : </span>@Model.duration </p><br>
            <p><span style="font-weight:bold">Nội dung : </span>@Model.description </p><br>
            <div class="button--movie">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@idModel"
                        style="margin-right: 20px">
                    Trailer
                </button>
                <button type="button" onclick="getSchedule(@Model.id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@idModa">Đặt Vé</button>
            </div>

            <div class="modal fade" id="@idModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-body">
                            <iframe width="1104" height="621" src="@Model.trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Model.id" id="idFilmT" />
            </div>
            <!--  Modak Booking -->
            <!--  Modak Booking -->
            <div class="modal fade" id="@idModa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        @{
                            var nameClose = "btn-close" + Model.id;
                        }
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@Model.film_name</h5>
                            <button type="button" id="@nameClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">

                                    <label for="schedule" class="col-form-label">Lịch chiếu:</label>
                                    @{
                                        var nameSchdule = "schedule" + Model.id;
                                        var nameShowtime = "showtime" + Model.id;
                                        var nameRoom = "room" + Model.id;
                                        var nameSeat = "seat" + Model.id;
                                        var nameError = "resultError" + Model.id;

                                    }
                                    <select required class="form-select" onchange="getShowtime(@Model.id)" id="@nameSchdule" name="schedule" aria-label="Default select example">
                                        <option value="0">Chọn lịch chiếu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="showtime" class="col-form-label">Suất chiếu:</label>
                                    <select class="form-select" onchange="getRoom(@Model.id)" id="@nameShowtime" name="showtime" aria-label="Default select example">
                                        <option value="0">Chọn suất chiếu</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="room" class="col-form-label">Phòng chiếu:</label>
                                    <select onchange="getSeat(@Model.id)" class="form-select" id="@nameRoom" name="room" aria-label="Default select example">
                                        <option value="0">Chọn phòng</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="seat" class="col-form-label">Ghế ngồi:</label>
                                    <select multiple="multiple" class="form-select" id="@nameSeat" name="seat" aria-label="Default select example">
                                        <option value="0">Chọn ghế</option>

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="roomaa" class="col-form-label">Giá vé: 3$/ vé</label>
                                </div>
                                <p style="color: red" id="@nameError"></p>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button onclick="bookingTicket(@Model.id)" type="button" class="btn btn-danger">Đặt vé</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="exampleModaltest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div id="result" class="modal-body"></div>
                        <div style="display:none" id="linkqr" class="modal-body"></div>
                        <div style="margin-bottom:20px" id="id_qrcode"></div>
                        <div style="display:none" id="sessionId" class="modal-body"></div>

                        <div class="modal-footer">

                            <button class="btn btn-danger" id="btnPay">Paynow</button>

                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                function onReady() {
                    var text = document.getElementById('linkqr').innerHTML;
                    var qrcode = new QRCode("id_qrcode", {
                        text: text,
                        width: 150,
                        height: 150,
                        colorDark: "#000000",
                        colorLight: "#ffffff",
                        correctLevel: QRCode.CorrectLevel.H
                    });
                }
            </script>

            <script>
                var stripe = Stripe("pk_test_51Itn76AY7zpl2tqohPq6YilgoGQtljYobrItYBaIvyrVXOjq5Lff6djQeMgBcLvRIGHvgrx9OwmC3ZZcHV6TepuG00KgREPMiI");

                var element = document.getElementById('btnPay');
                element.addEventListener('click', function () {
                    var text = document.getElementById('sessionId').innerHTML;
                    stripe.redirectToCheckout({
                        sessionId: text
                    }).then(function (result) {
                        console.log(result)
                    });
                })

            </script>
        </div>
    </div>
    <div>
            <div class="container mt-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div id="responeAjax">
                            <div class="headings d-flex justify-content-between align-items-center mb-3">
                                <h5> Comments @listcomment.Count()</h5>

                            </div>

                            @foreach (var item1 in listcomment)
                            {
                                <div class="card p-3">
                                    <div class="d-flex justify-content-between align-items-center">

                                        <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" 
                                         width="30" class="user-img rounded-circle mr-2"> <span></span><h5 style="margin-left: 10px">@item1.name_user</h5></div> <small>@item1.created_time</small>

                                    </div>
                                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                                        <div class="reply px-4"> <p>@item1.rate</p></div>
                                        <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                                    </div>

                                </div>
                            }



                            <div class="card p-3">
                                <form class="form-inline">
                                    <div class="row">
                                        <div class="form-group  col-10">

                                            <input type="text" class="form-control" name="comment" id="comment" placeholder="commnet">
                                            <p style="color: red;margin-top: 10px" id="error"></p>
                                        </div>
                                        <div class="col-2">
                                            <button type="button" onclick="postComment()" class="btn btn-primary mb-2">Post</button>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>




                        <script type="text/javascript">
                            function postComment() {
                                var idFilm = document.getElementById("idFilmT").value;
                                var comment = document.getElementById("comment").value;
                                var row1 = document.getElementById("error");
                                var row = document.getElementById("responeAjax");
                                if (comment == '') {
                                    row1.innerHTML = "❌ Bạn cần điền bình luận !"
                                } else {
                                    $.ajax({
                                        url: "/Film/postCommnet",
                                        type: "post",
                                        data: {
                                            idFilm: idFilm,
                                            textComment: comment
                                        },
                                        success: function (data) {
                                            if (data.status == "ERROR") {
                                                row1.innerHTML = data.msg
                                            } else if (data.status == "SUCCESS") {

                                                var htmlData = `<div class="headings d-flex justify-content-between align-items-center mb-3">
                                                                <h5> Comments `+ data.data.length + `</h5>
                             
                                                            </div>`
                                                for (var i = 0; i < data.data.length; i++) {

                                                    htmlData += ` <div class="card p-3">
                                                                    <div class="d-flex justify-content-between align-items-center">

                                                                    <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> <span>
                                                                    <h5 style="margin-left: 10px">`+ data.data[i].name_user + `</h5></div> <small>` +   data.data[i].created_time + `</small>

                                                            </div>
                                                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                                                                <div class="reply px-4"> <p>`+ data.data[i].rate + `</p></div>
                                                                <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                                                            </div>

                                                        </div>
                                                           `
                                                }
                                                htmlData += `<div class="card p-3">
                                                               <form class="form-inline">
                                                                <div class="row">
                                                                 <div class="form-group  col-10">
                                                                <label for="inputPassword2" class="sr-only">Password</label>
                                                                <input type="text" class="form-control" name="comment" id="comment" placeholder="Password">
                                                                <p style="color: red;margin-top: 10px" id="error"></p>
                                                              </div>
                                                              <div class="col-2">
                                                                <button type="button" onclick="postComment()" class="btn btn-primary mb-2">Post</button>
                                                              </div>
                                                                </div>


                                                            </form>
                                                        </div>`
                                                row.innerHTML = htmlData
                                                row1.innerHTML = ""
                                            } else if (data.status == "ErrorLogin") {
                                                row1.innerHTML = data.message
                                            }
                                        }
                                    });
                                }
                              

                            }
                        </script>

                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $("#exampleModal").on("hidden.bs.modal", function () {
                    $("#exampleModal iframe").attr(
                        "src",
                        $("#exampleModal iframe").attr("src")
                    );
                });

            </script>
        </div>
    <script type="text/javascript">
        $("#exampleModal").on("hidden.bs.modal", function () {
            $("#exampleModal iframe").attr(
                "src",
                $("#exampleModal iframe").attr("src")
            );
        });

    </script>
</div>

