@model List<Model.HistoryBooking>
@{
    ViewBag.Title = "HistoryBooking";
    Layout = "~/Views/MyLayout/_LayoutUser.cshtml";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content" style="margin-top: 170px;">
            <!-- Sign up form -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Phim</th>
                        <th scope="col">Ngày chiếu</th>
                        <th scope="col">Suất chiếu</th>
                        <th scope="col">Room</th>
                        <th scope="col">Ghế ngồi</th>
                        <th scope="col">Giá tiền</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                   
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.id</th>

                                <td>
                                   @item.nameFilm
                                </td>
                                <td>
                                   @item.schedulename
                                </td>
                                <td>
                                   @item.showtimeName
                                </td>
                                <td>
                                    @item.roomName
                                </td>
                                <td>
                                   @item.seatName
                                </td>
                                <td>@item.amount$</td>
                                <td>
                                    @if (@item.status == 1)
                                    {
                                        <p>Đã xác nhận</p>
                                    }
                                    else
                                    {
                                <p>  Đã thanh toán</p>
                                      
                                              }

                                </td>


                            </tr>
                        }

                   



                </tbody>
            </table>
        </div>
    </div>
</section>

